@import "tailwindcss";

body {
  background: radial-gradient(
      circle at 30% 50%,
      rgba(142, 220, 230, 0.08),
      transparent 40%
    ),
    linear-gradient(180deg, #071c2f, #0b2a40);
  color: white;
}
